
.container {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  overflow: visible;
}


.color-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 88px);
  grid-column-gap: 11px;
  grid-template-rows: 36px;
}

.color-icon {
  object-fit: cover;
  object-position: center;
}
